//@import "../userDetails/userDetails.scss";

.dropdown{
    width: 60vw;
    max-width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: initial;
    border-radius: 10px;
    
    &__arrow{
    margin-top: 3px;
    margin-left: 2px;
    }

}