@import './../style/vars.scss';

.top-five-user {
  color: $primary-color;
  font-family: $default-font;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__username {
    font-weight: bold;
  }

  &__position {
    color: grey;
  }

  &__points {
    margin-left: 50px;
  }
}
