@import './../style/vars.scss';

.top-one {
  color: $primary-color;
  font-family: $default-font;
  display: flex;
  flex-direction: column;
  align-items: center;

  // .top-one-photo {
  //   width: 120px;
  //   height: 120px;
  //   border-radius: 60px;
  //   margin-bottom: 15px;
  // }

  .circle {
    width: unset;
    height: unset;
  }

  .square {
    width: unset;
  }

  .top-one-photo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .top-one-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .top-one-username {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .top-one-position {
    font-size: 28px;
    font-weight: bold;
    text-shadow: $default-shadow;
  }

  .top-one-points {
    font-size: 14px;
  }

  .top-one-icon-img {
    width: 5%;
    margin: 0px 20px 20px 20px;
  }

  .top-one-animation-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top-one-animation {
    width: 120px;
    height: 120px;
  }
}
