.postComment {
    display: flex;
    align-items: center;
  
    .user-photo {
      margin-right: 10px;
    }
  
    .input {
      margin-right: 10px;
    }

    .sendButton{
        margin-top: 30px;
    }


  }
  