.progress-bar {
  position: relative;
  width: 100%;
  height: 20px;
  overflow: visible;

  &__progress {
    height: 100%;

    &__text-level {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      display: flex;
      white-space: nowrap;

      &__points {
        font-weight: normal;
      }
    }
  }
}
