.visualComment {
  display: flex;
  align-items: center;
  gap: 16px;
  border-top: 1px solid black;
  flex-wrap: nowrap;

  .user-photo {
    margin-right: 5px;
    margin-left: 10px;
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-top: 5px;

    .username {
      font-weight: bold;
    }

    .comment {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      color: grey;
      margin-left: 5px;
    }

    .like-time {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 5px;

      .likes {
        margin-right: 10px;
      }
    }
  }
}
