.nav-menu {
  background-color: #1a3891;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  align-items: center;

  .nav-containers {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav-button {
      cursor: pointer;
      font-size: 24px;
      margin: 0 20px;
    }
  }
}
