.user-details {
  @media (max-width: 575.98px) {
    width: 100vw;
    max-width: 100vw;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100px;
  color: black;

  &__pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
  }

  &__info {
    width: 265px;
    display: flex;
    flex-direction: column;

    &__top {
      padding-top: 10px;
      height: 12px;
      width: inherit;
      display: flex;
      flex-direction: column;

      &__username {
        height: 50px;
        font-size: 16px;
        font-weight: bold;
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__bottom {
      margin-top: 0;
      overflow: hidden;
      height: fit-content;
      font-size: 14px;
      color: rgb(99, 98, 97);

      &__description {
        width: 80px;
        text-align: left;
        justify-content: center;
      }
    }
  }
}
