.like-container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
  
    .heart {
      position: relative;
      margin-right: 4px;

  
      &::before {
        content: '🤍';
      }
  
      &.--liked::before {
        content: '❤️';
      }
    }
  }