.progress_bar_parent{
    height: 23px;
    width: 100%;
    border-radius: 20px;
    display: flex;

}

.progress_bar_parent span{
    font-size: 15px;
    margin-left: 15px;
}

.progress_bar_child{
    height: 100%;
    width: 80%;
    border-radius: 20px;
    text-align: center;
   
}

.progress_bar_child span{
    font-size: 15px;
    margin-left: 15px;
}