.user-list-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__username {
    font-weight: bold;
    height: 40%;
    font-size: 25px;
  }

  &__button {
    height: 50%;
    font-size: 25px;
    cursor: pointer;
  }
}
